<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Edit your profile</h1>
<form action="/volunteers/<%=@volunteer.id%>" method="post">
  <input type="hidden" name="_method" value="patch" />
  <label for="email">Email:</label>
  <input type="text" name="email" id="email" value="<%=@volunteer.email%>">
  <br>
  <label for ="password">Password:</label>
  <input type="text" name="password" id="password" value="<%=@volunteer.password%>">
  <input type="submit" id="submit" value="submit">
<br><br><br>
<h4><a href="/opportunities">Back to all opportunities</a></h4>
