<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>All Volunteers Available</h1>
<h2>Welcome, <%=current_user.username%></h2>
<br><br>
<%@volunteers.each do |volunteer|%>
  <h3><a href="/volunteers/<%=volunteer.id%>"><%=volunteer.username%></a>
<% end %>
<br></br>
<a href='/logout'>Log Out</a>
