<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Sign up and start volunteering!</h1>
<form action="/signup" method="post">
  <p>Username: <input type="text" name="username" id="username"></p>
  <p>Email: <input type="text" name="email" id="email"></p>
  <p>Password: <input type="password" name="password" id="password"></p>
  <input type="submit" id="submit" value="submit">
</form>
<br><br>
<h4><a href="/login">Already a member? Login here!</a></h4
