<h1>Tell Your Story!</h1>
<br>
<form action="/success_stories" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">
  <br><br>
  <label for="author">Author:</label>
  <input type="text" name="author" id="author">
  <br><br>
  <label for="date">Content:</label>
  <input type="text" name="content" id="content">
  <br><br>
  <input type="submit" id="submit" value="submit">
<br>
<br>
<a href='/logout'>Log Out</a>
