<h1>Welcome, <%=current_user.username%></h1>
<br><br>
<%@causes.each do |cause|%>
  <p><a href="/causes/<%=cause.id%>"><%=cause.name%></a></p>
<% end %>
<h3><a href="/opportunities/new">Make a new Opportunity</a></h3>
<br>
<h3><a href="/success_stories">Check out everyone's volunteering stories!</a></h3>
<br><br>


<a href='/logout'>Log Out</a>
