<h1>Create an Opportunity</h1>
<br>
<form action="/opportunities" method="post">
  <label for="event">Event Name:</label>
  <input type="text" name="event" id="event">
  <br><br>
  <label for="date">Date:</label>
  <input type="text" name="date" id="date">
  <br><br>
  <label for="time">Time:</label>
  <input type="text" name="time" id="time">
  <br><br>
  <label for="description">Description:</label>
  <input type="text" name="description" id="description">
  <br><br>
  <label for="cause">Cause or Category:</label>
  <input type="text" name="cause" id="cause">
  <br><br>
  <input type="submit" id="submit" value="submit">
</form>
<br>
<br>
<a href='/logout'>Log Out</a>
