<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> Welcome to Voluntell </h1>
<h2> Volunteer then tell your friends! </h2>


<h3>New to Voluntell?<h3>
  <h4><a href="/signup">Sign up here!</a></h4>
<br><br>
<h3>Already a user? Welcome back!</h3>
  <h4><a href="/login">Login</h4>
